.productsAll {
    display: flex;
    justify-content: center;
}
.card {
    margin-left: 10px;
    margin-top: 10px;
}
.me-auto.nav {
    justify-content: center;
}
button.btn.btn-primary {
    margin-left: 10px;
}
.me-auto.nav {
    margin-bottom: 10px;
}