.card {
    margin: 10px;
}
img.card-img-top {
    height: 100%;
}

a.detailsButton {
    margin-left: 5px;
    background-color: #adb3bb;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    padding-bottom: 11px;
    padding-top: 6px;
    color: black;
    text-decoration: none;
}
